<!DOCTYPE html>
<html>
  <body>
    <p>An interview has been <b>scheduled</b> for you.</p>
    <p>Job ID: <b>{{jobId}}</b></p>
    <p>Date: <b>{{date}}</b></p>
    <p>Time: <b>{{time}}</b></p>
    <p>Round <b>{{round_no}}</b></p>
  </body>
</html>

