<h2>Welcome to the platform!</h2>
<p>Here are your login credentials:</p>
<ul>
  <li>Email: {{email}}</li>
  <li>Username: {{username}}</li>
  <li>Password: {{password}}</li>
</ul>
<p>Please change your password after first login.</p>
